In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from pathlib import Path



import numpy as np

if "root" not in locals():
    current_path = Path(os.getcwd())
    root = current_path.parent.absolute()
os.chdir(root)

from src.preprocessing import preprocessVesCoDf, preprocessVintedDf, dropWrongArticles, categoriseMarque
sns.set_style('whitegrid')

import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(10,5)})

In [14]:
df_vinted = pd.read_csv('data/raw/vintedShirt400.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_vesco = pd.read_csv('data/raw/vestCoShirt400.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_shein = pd.read_csv("data/raw/t%20shirt%20shein.csv").drop(['Unnamed: 0'], axis=1, inplace=False)
df_plt = pd.read_csv('data/raw/t_20shirt_20PrettyLittleThings.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_miss = pd.read_csv('data/raw/t_20shirt_20Missguided.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_mango = pd.read_csv('data/raw/t_20shirt_20mango.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_uniqlo = pd.read_csv('data/raw/t_20shirt_20uniqlo.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_zara = pd.read_csv('data/raw/t_20shirt_20zara.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_kenzo = pd.read_csv('data/raw/t_shirt_kenzo.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_lacoste = pd.read_csv('data/raw/t_shirt_lacoste.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_ps = pd.read_csv('data/raw/t_shirt_paul_smith.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_adidas = pd.read_csv('data/raw/t_shirt_adidas.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_guess = pd.read_csv('data/raw/t_shirtGuess.csv').drop(['Unnamed: 0'], axis=1, inplace=False)
df_tf = pd.read_csv('data/raw/t_shirtTommy_Hilfiger.csv').drop(['Unnamed: 0'], axis=1, inplace=False)

In [15]:
df_vinted = pd.concat([df_vinted, df_shein,df_plt,df_miss,df_zara,df_uniqlo,df_mango, df_kenzo, df_lacoste, df_ps, df_adidas, df_guess, df_tf], ignore_index = True, axis = 0)

In [16]:
df_vesco = preprocessVesCoDf(df_vesco)
df_vinted = preprocessVintedDf(df_vinted)

In [17]:
print(df_vesco.shape[0],df_vinted.shape[0])

401 1118

In [18]:
df_vinted = dropWrongArticles(['TSHIRT', 'T-SHIRT', 'T SHIRT'], ['Description', 'nom'], df_vinted, ['LONGUES', 'LONGUE'])
df_vesco = dropWrongArticles(['TSHIRT', 'T-SHIRT', 'T SHIRT'], ['Description'], df_vesco, ['LONGUES', 'LONGUE'])

In [19]:
print(df_vesco.shape[0],df_vinted.shape[0])

325 668

In [20]:
df_vinted

,État,Marque,TAILLE,Date,nom,Prix,Description
0,NEUF AVEC ÉTIQUETTE,VETEMENTS,M,2022-04-09,T-SHIRT VETEMENTS ÉDITION LIMITÉE,160.0,T-SHIRT NEUF AVEC ÉTIQUETTES \nONESIZE CORRESP...
1,NEUF AVEC ÉTIQUETTE,TWIGGY CREATIVE UNIVERSE,M,2022-04-09,T SHIRT TWIGGY CREATIVE UNIVERSE,25.0,T SHIRT 100% COTON NOIR DÉLAVÉ DE LA MARQUE FR...
2,BON ÉTAT,ARC'TERYX,S,2022-04-09,PREFORMANCE T-SHIRT,15.0,100% KATOEN WEL GEDERAGEN ZIET ER NETJES UIT
3,TRÈS BON ÉTAT,ZARA,L,2022-04-09,T-SHIRT ZARA,5.0,QUASI NEUF ( PORTÉ QUE QUELQUES FOIS )
4,TRÈS BON ÉTAT,ACNE STUDIOS,M,2022-04-09,ACNE STUDIOS NECK T SHIRT (XS),70.0,VALT HEEL OVERSIZED (ALS EEN M/L NORMALE SHIRT...
...,...,...,...,...,...,...,...
1110,TRÈS BON ÉTAT,TOMMY HILFIGER,XS / 34 / 6,2022-05-12,T-SHIRT TOMMY-HILFIGER,4.0,T-SHIRTTOMMY HILFIGER \nTRÈS PEU PORTÉ \nTAILL...
1112,TRÈS BON ÉTAT,TOMMY HILFIGER,L,2022-05-12,SWEAT-SHIRTTOMMY HILFIGER,25.0,TRÈS BON ÉTAT.
1114,TRÈS BON ÉTAT,TOMMY HILFIGER,M,2022-05-12,T-SHIRTTOMMY HILFIGER VIOLET CLAIR,7.0,EN TRÈS BON ÉTAT
1115,BON ÉTAT,TOMMY HILFIGER,L,2022-05-12,T-SHIRT TOMMY,20.0,T-SHIRTTOMMY BLANC A ÉCRITURE COLORER
1117,TRÈS BON ÉTAT,TOMMY HILFIGER,M,2022-05-12,T-SHIRTTOMMY JEANS NOIR,12.0,"PORTE QUELQUE FOIS, EXCELLENT ÉTAT TSHIRT TOMM..."

In [21]:
df = pd.concat([df_vinted , df_vesco], ignore_index=True)

In [22]:
df.to_csv('data/treated/tshirts.csv')